NODE_ENV="DEV"
PORT=5053
RABBITMQ_URL="amqp://appuser:appsecret@localhost:5672/"
MONGODB_URI="mongodb://root:example@localhost:27017/sale-agent-db?authSource=admin"
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN="15m",
JWT_REFRESH_EXPIRES_IN="7d",